#pip freeze
django==3.1.4
bcrypt==3.2.0
argon2-cffi==20.1.0
gunicorn==20.0.4
dj-database-url==0.5.0
psycopg2==2.8.6
pytz==2020.4
whitenoise==5.2.0
django-heroku==0.3.1
django-filter==2.4.0
django-ckeditor==6.0.0
Pillow==8.0.1
djangorestframework==3.12.2
pytz==2020.4
#django-easy-pdf==0.1.1
#WeasyPrint==52.3
#xhtml2pdf==0.2b1
#django-cors-headers