<!doctype html>
<html lang="en">
{% extends "base/base.html" %}
                    {% block body %}

<h2>Register</h2>
                        <div class="container align-center">
                        <form class="form-group" method="POST" enctype="multipart/form-data">

                            {% if messages %}
            <ul class="messages">
                    {% for message in messages %}
                 <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}

                    </ul>
    {% endif %}
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% csrf_token %}
                        {{ extra_info.as_p }}
                        <input type="submit" value="update" class="btn btn-primary">
                        </form>
                        </div>

                    {% endblock %}
</html>