<!doctype html>
<html lang="en">
{% extends "base/base.html" %}
                    {% block body %}

<h2>Change Password</h2>

                        <form method="POST" action="{% url 'school_manager:change_password' %}">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-warning alert-dismissable" role="alert">
                                <button class="close" data-dismiss="alert">
                                    <small><sup>x</sup></small>
                                </button>
                                <p>Your Form Has Error....</p>
                                {% for field in form %}
                                    {% if field.errors %}
                                        {{ field.errors }}
                                    {% endif %}
                                {% endfor %}
                                </div>
                            {% endif %}
                        {{ form.as_p }}
                        <input type="submit" value="Change Password" class="btn btn-warning">
                        </form>
{#                        <div class="container align-center">#}
{#                        <form method="POST" action="{% url "school_manager:change_password" %}">#}
{#                            {% csrf_token %}#}
{#                            {{ form.as_p }}#}
{#                        <input type="submit" value="Change Password">#}
{#                        </form>#}
{#                        </div>#}

                    {% endblock %}
</html>